/* src/Components/Contact.module.css */
.contactSection {
    padding: 6rem 2rem;
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .subtitle {
      text-align: center;
      max-width: 600px;
      margin: 0 auto 4rem auto;
      font-size: 1.1rem;
      color: #d1d5db; /* Un gris un poco más claro que el texto normal */
  }
  
  .form {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .input, .textarea {
    width: 100%;
    padding: 1rem;
    background-color: var(--card-color);
    border: 2px solid transparent;
    border-radius: 8px;
    color: var(--text-color);
    font-size: 1rem;
    transition: border-color 0.3s ease;
  }
  
  .input:focus, .textarea:focus {
    outline: none;
    border-color: var(--primary-color);
  }
  
  .textarea {
    min-height: 150px;
    resize: vertical;
  }
  
  .submitButton {
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .submitButton:hover {
    background-color: #36b36a; /* Un verde un poco más oscuro */
    transform: translateY(-3px);
  }
  
  @media (max-width: 768px) {
      .contactSection {
          padding: 4rem 1rem;
      }
  }